*,p,ul{margin: 0;padding: 0;}
ul,ol,li {
  list-style: none;
}
html,body{
  box-sizing: border-box;
}
body{
  background: #fff !important;
}
img{
  display: block;
  width: 100%;
}
span{
  display: block;
}
.list_headerbox{
  width: 100%;
  height: 38px;
  border-top: 2px solid #000;
}
.paixu{
  height: 100%;
  width: 1390px;
  margin: 10px auto;
  background: #F8F8FA;
}
.sort{
  height: 100%;
  display: flex;
  position: relative;
}
.sort>span{
  height: 100%;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}
.list_active{
  color: #f60;
}
.move_line{
  display: block;
  width: 64px;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background: #F60;
}
.list_box{
  margin-top: 20px;
}
.l_box {
  display: flex;
  justify-content: space-between;
}
.l_box>li:hover{
  box-shadow: 0 0 4px 1px rgba(210,210,214,0.5);
}
.l_box h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 1px 0;
  font-size: 14px;
}
.price{
  display: flex;
  margin-bottom: 5px;
}
.price > i {
  font: 12px/1.5 "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    -webkit-font-smoothing: antialiased;
  font-size: 12px;
  font-family: arial;
  margin-right: 3px;
  font-weight: normal;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.price_end{
  padding-top: 5px;
  font-weight: normal;
  font: 12px/1.5 "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
  font-size: 16px !important;
}
.price > span{
  font-size: 22px;
  font-weight: bold;
  color: #f60;
  font-family: Tahoma;
}
.bt>a {
  font-size: 12px;
}
#px2,#px3{
  height: 100%;
  width: auto;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.pahe{
  margin: 20px 0;
}
.first,.prev,.next,.last{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  font-size: 14px;
  margin-right: 10px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
  border: none !important;
}
.list>p{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #F8F8FA ;
  text-decoration: none;
  border-radius: 2px;
  font-size: 14px;
  margin-right: 10px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
  border: none !important;
}
.page>input {
  width: 45px !important;
  height: 40px !important;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 11px 0;
  vertical-align: top;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.page>button {
  height: 40px !important;
  width: 38px !important;
  background: #F8F8FA;
  outline: 0;
  box-shadow: none;
  border: none;
}