*{
  margin: 0;
  padding: 0;
}
a {
  color: #333;
  text-decoration: none;
}
body, html {
  background: #f8f8f8;
}
.header {
  height: 88px;
  width: 990px;
  background: #fff;
  display: flex;
  align-items: center;
  position: relative;
}
.header>.loge {
  height: 100%;
  width: 190px;
  background: url(../images/sprite.png) no-repeat;
  margin-right: 24px;

}
.header>.loge_text {
  font-size: 18px; 
}
.header_right {
  position: absolute;
  top: 63px;
  right: 0;
  font-size: 12px;
}
.main {
  width: 990px;
  border: 1px solid #ddd;
  border-top:3px solid #f90; 
  padding: 55px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.phone_field {
  height: 40px;
  width: 380px;
  border: 1px solid #ccc;
  margin-bottom: 25px; 
}
.phone_field>.input_box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.phone_field .title{
  display: block;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 100%;
  margin-bottom:0px;
}
.phone_field>.input_box>input {
  outline: none;
  height: 100%;
  border: none;
  flex: 1;
}
.btn_my {
  margin-top:30px; 
  width: 380px;
}
#commentForm div>.focus{
  color:rgba(255,0,0,0);

}